/* Imports */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

@font-face {
    font-family: "Brandon Grotesque Bold";
    src: url("{% static 'postorius/fonts/brandon_grotesque_bold.ttf' %}") format("truetype");
}
@font-face {
    font-family: "Brandon Grotesque Light";
    src: url("{% static 'postorius/fonts/brandon_grotesque_light.ttf' %}") format("truetype");
}
::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: #FFFFFF;
}
::-webkit-scrollbar {
    width: 10px;
    background-color: #FFFFFF;
}
::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #0A1123;
}
::-moz-scrollbar-track {
    border-radius: 0px;
    background-color: #FFFFFF;
}
::-moz-scrollbar {
    width: 10px;
    background-color: #FFFFFF;
}
::-moz-scrollbar-thumb {
    border-radius: 0px;
    background-color: #0A1123;
}
::scrollbar-track {
    border-radius: 0px;
    background-color: #FFFFFF;
}
::scrollbar {
    width: 10px;
    background-color: #FFFFFF;
}
::scrollbar-thumb {
    border-radius: 0px;
    background-color: #0A1123;
}
@-webkit-keyframes dashoffset-seven{
    0% {stroke-dashoffset: 7px;}
    100% {stroke-dashoffset: 0px;}
}
@-moz-keyframes dashoffset-seven{
    0% {stroke-dashoffset: 7px;}
    100% {stroke-dashoffset: 0px;}
}
@keyframes dashoffset-seven{
    0% {stroke-dashoffset: 7px;}
    100% {stroke-dashoffset: 0px;}
}

@-webkit-keyframes width-pulse {
    0% {stroke-width: 2px;}
    50% {stroke-width: 4px;}
    100% {stroke-width: 2px;}
}
@-moz-keyframes width-pulse {
    0% {stroke-width: 2px;}
    50% {stroke-width: 4px;}
    100% {stroke-width: 2px;}
}
@keyframes width-pulse {
    0% {stroke-width: 2px;}
    50% {stroke-width: 4px;}
    100% {stroke-width: 2px;}
}
h3 {
    font-family: "Brandon Grotesque Light", sans-serif;
    font-weight: 500;
}

html, body {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height:100%;
    font-weight: 500;
}


/* Chart CSS */
.ctooltip {
    position: absolute;
    z-index: 1;
    padding: 5px;
    background: rgba(0, 0, 0, 0.3);
    opacity: 1;
    border-radius: 3px;
    text-align: center;
    pointer-events: none;
    color: white;
    transition: opacity .1s ease-out;
}
.ctooltip.ctooltip-hidden {
    opacity: 0;
}
.ct-chart .ct-series.ct-series-b .ct-line{
    stroke: #FF5D56;
    stroke-width: 3px;
    stroke-dasharray: 6px 3px;
    -webkit-animation: dashoffset-seven 350ms infinite linear;
    -moz-animation: dashoffset-seven 350ms infinite linear;
}
.ct-chart .ct-series.ct-series-b .ct-point {
    stroke: #FF5D56;
}
.ct-chart .ct-series.ct-series-a .ct-line {
    stroke: #F1C40F;
    stroke-width: 2px;
    opacity: 0.7;
    -webkit-animation: width-pulse 2s infinite;
    -moz-animation: width-pulse 2s infinite;
}
.ct-chart .ct-series.ct-series-a .ct-point {
    stroke: #F1C40F;
}


/* Button Styling And Animations */
.btn, button { 
    border-radius:0px;
    -webkit-transition: .2s all;
    -moz-transition: .2s all;
    transition: .2s all;
}
.btn_-1 {
    border:1px solid #00BCD4;
    color: #00BCD4;
}
.btn_0 {
    border:1px solid  #0097A7;
    color:  #0097A7;
}
.btn_1 {
    border:1px solid #303F9F;
    color: #303F9F;
}
.btn_-2 {
    border:1px solid #3a3a3a;
    color: #3a3a3a;
}
.btn_1:hover, .btn_1:focus {
    border:1px solid #303F9F;
    background-color: #303F9F;
    color: #fff;
}
.btn_0:hover, .btn_0:focus {
    border:1px solid  #0097A7;
    background-color: #0097A7;
    color: #fff;
}
.btn_-1:hover, .btn_-1:focus {
    border:1px solid #00BCD4;
    background-color: #00BCD4;
    color: #fff;
}
.btn_-2:hover, .btn_-2:focus {
    background-color: #3a3a3a;
    border:1px solid #3a3a3a;
    color: #fff;
}

/* Tasks Widget Styling */
.bg-color_-1 {
    background-color:#EFFAFE !important;
}
.bg-color_0 {
    background-color:#DBE7FD !important;
}
.bg-color_1 {
    background-color:#9F84ED !important;
}
.bg-color_-2 {
    background-color:#FFFFFF !important;
}
.parent-active {
    background-color:#EEEEEE;
}
.panel-heading-listv {
    padding:1.7em;
    background: #FFFFFF !important;
}
.panel-heading, .panel-default {
    border-radius: 0px !important;
}
.panel-tw {
    border-radius:0px !important;
    border:1px solid #0097A7;
    background-color:#FFFFFF;
}
.panel-title  a {
    font-size:1em;
}
.toggle-accordian:hover, 
.toggle-accordian:active, 
.toggle-accordian:focus {
    text-decoration: none;
    color:#3a3a3a;
    font-size:1em;
}

.panel-title  ul li:first-child {
    color:#3a3a3a;
    font-size:1em;
}

#task-container, #list-container-well {
    overflow-y: auto;
    margin-left: auto;
    padding-left:0px;
    padding-right:0px;
    margin-right:auto;
    position:relative;
    border-radius:0px;
    height:72%;
}
@media (max-width: 1366px){
    #task-container {
        height:65%;
        font-size:0.5em;
    }
    #task-container .panel-title li{
        font-size:0.83em;
    }
    #task-container #text-priority {
        display:none;
    }
    #task-container #holoid a{
        font-size:0.83em; 
    } 
    #actions_link{
        font-size:0.85em;
    }
    .activities td {
        font-size: 0.9em;
    }
    #members-expand li a, #members-expand span, 
    #members-expand a{
        font-size:0.85em;
    }
    #reorder > .btn-grp span , #reorder li a{
        font-size:0.9em;
    }
    .i-tasks {
        font-size:0.8em;
    }
    #list-container-well {
        height:24em;
    }
}

#list-container{
    display:none;
}
#task-container::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: #F5F5F5;
}
#task-container::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}
#task-container::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #777;
}
#listi_container::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: #F5F5F5;
}
#listi_container::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}
#listi_container::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #777;
}
.made-on {
    color:#34373C;
    font-size:0.96em;
}
#holoid > a {
    border-radius:0px !important;
}
.fa-plus-circle {
    float:right;
    position:relative;
    margin-top:1%;
    font-size:2.7em;
    vertical-align:middle;
    display:inline-block;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    transition: 0.3s all;
    color: #08C;
}
.fa-plus-circle:hover {
    float:right;
    display:inline-block;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    transition: 0.3s all;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #3F51B5;
}
.i-tasks:before {
    background:white;
    padding: 5px;
    border: 1px solid;
    color:#FFC107;
}
.fa-bars,
.fa-gear{
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    transition: 0.3s all;
}
.fa-bars:hover,
.fa-gear:hover{
    color: #000;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    transition: 0.3s all;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
}
.task-table > tbody > tr:first-child > td{ 
    border-top: none !important;
}
.table > tbody > tr:last-child > td {
    padding-bottom: 0px !important;
    margin-bottom:0px !important;
}
.panel_tasks .panel-collapse .panel-body{
    padding-bottom:0px !important;
}
.role-nav li.active > a {
    border-bottom:2px solid #000;
    background-color: inherit;
}
.role-nav li > a {
    border-radius:0px;
    color: #3a3a3a;
}
#list-moderators .row, #list-owners .row, #list-subscribers .row{
    margin:inherit;
}
#list-moderators .col-xs-6, #list-owners .col-xs-6, #list-subscribers .col-xs-12{
    padding:0.5em;
}
#refresh {
    margin: 100px auto ;
    display:block;
    position: relative;
    box-shadow: 
    1px 1px #53A7EA,
    2px 2px #53A7EA,
    3px 3px #53A7EA;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    border: none;
    padding: 10px;
    background: #08C;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial;
    width: 6.85em;
    height: 3.25em;
}

#refresh:active { 
    box-shadow: none;
    top: 3px;
    left: 3px;
}
#id_mtask_description {
    resize: vertical;
}
/* List Index Widget Styling*/
#li-widget-wrapper{
    position:relative;
    margin:auto;
    display: inline-block;
    white-space:nowrap;
    float:right;
    width:37%;
    height:70%;
    border:1px solid;
}
/* Events Widget Styling */
#events-widget{
    width:17%;
    float:left;
    display:inline-block;
    height:99%;
    margin-top:8%; 
    border:1px solid;
    margin-left:2%;
    margin-right:7%;
}
@media (max-width: 90em){
    #events-widget{
        display:none !important;
        position:relative;
        margin:auto;
        float:right;
        width:37%;
        height:70%;
    }
    .primary-widgets-wrapper{
        width:100% !important;
    }
    #view_bot{
        display:none !important;
    }
}
/* Nav Styling */
.nav li a{
    -webkit-transition: .2s all;
    -moz-transition: .2s all;
    transition: .2s all;
}

#id_query_field {
    padding: 7px;
    border: none;
    border-bottom: solid 2px #E4F1FE;
    -webkit-transition: border 0.3s;
    -moz-transition: border 0.3s;
    transition: border 0.3s;
}
#id_query_field:focus,
#id_query_field.focus {
    border-bottom: solid 2px #1ABC9C;
}
.navbar {
    background-color: #0A1123;
}
.nav-icon {
    color: #ffffff;
}
.checkbox-wrapper {
    margin-left: 2em;
    display:inline-block;
}
.checkbox-inline input[type=checkbox]{
    position: relative;
    color:#1ABC9C;
    font-size:1.64em;
}
.checkbox-inline >input[type=checkbox]::before {
    position: absolute;
    background-color: #0A1123;
    height: 100%;
    width: 100%;
    font-family: FontAwesome;
    content:"\f096";

}
.checkbox-inline >input[type=checkbox]:checked::before {
    font-family: FontAwesome;
    display: inline-block;
    content:"\f046";
}
.check-label {
    margin-left: 1em;
    margin-right: 1em;
    border-bottom:2px solid #1ABC9C;
    color: #E4F1FE;
}
.navbar > .container-fluid > .navbar-header a{
    color: #E4F1FE;
}
.navbar .navbar-nav > li > a{
    color: #FFFFFF !important;
}
.navbar .navbar-nav > li > a:hover{
    color: #E4F1FE !important;
}
#view_bot {
    display:inline-block;
}
