<!doctype html>
<!--
{# load url from future %}{% load i18n %}{% load staticfiles %}
{ extends postorius_base_template %}
{% load url from future %}
{% load i18n %}

{% block subtitle %}
{% trans "To Do" as page_title %}{{ page_title }}
{% endblock %}

{% block main #} -->
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--  <link rel="stylesheet" href="{% static 'postorius/css/style.css' %}" -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<style>

.dialog {
position: absolute;
	  text-align: center;
background: #fff;
border-radius: 4px;
margin: 0px 0 4px 4px;
display: inline-block;
width: 30%;
      height: 30%;
       box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.52);
}
.dialog:after,
	.dialog:before {
bottom: 100%;
border: solid transparent;
content: " ";
height: 0;
width: 0;
position: absolute;
	  pointer-events: none;
	}
.dialog:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #e5e5e5;
	border-width: 8px;
	left: 20%;
	margin-left: 15px;
}
.dialog:before {
	border-color: rgba(170, 170, 170, 0);
	border-width: 16px;
left: 50%;
      margin-left: -16px;
}
.dialog .title {
color: #fff;
       font-weight: bold;
       text-align: center;
border: 1px solid #000;
	border-width: 0px 0px 1px 0px;
	margin-left: 0;
	margin-right: 0;
padding: 8px 16px;
background: #000;
	    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.52);
	    font-size: 16px;
	    line-height:2em;
}

#task-container {
float: left;
height: 60%;
width: 100%;
	overflow-y: auto; 
	overflow-x: visible;
}
#list-container {
	display:none;
}
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F7F7F7;
}

::-webkit-scrollbar
{
width: 12px;
       background-color: #F7F7F7;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #777;
}
i:before {
	    background:white;
	    padding: 5px;
border: 1px solid;
color:#FFC107;
}
.panel {
border-radius:0px;
border:1px solid;
}

</style>

     <div class="mm_main mm_canvas">
         {% if messages %}
             <ul class="mm_messages">
             {% for message in messages %}
                 <li class="alert {% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}</li>
             {% endfor %}
             </ul>
         {% endif %}
         {% block main %}{% endblock main %}
     </div>

<div class="container" style="width:35%;margin-top:8%;display:inline-block;border:1px solid;margin-left:27%;">


	<h3 class="text-center">To-Do List</h3>
	<ul class="nav nav-tabs nav-justified" id="switcher" role="tablist">
		<li class="active" ><a id="task-view" href="#">Task Basis</a></li>
		<li><a id="list-view" href="#">List Basis</a></li>
	</ul>

	<div id="container">
		<div style="margin-bottom:0px;border-radius:0px" class="well" id="task-container">

			{% for task in tasks %}
			<div class="panel panel-default">
			 	{% if task.priority == -1 %}
				<div style="background-color:rgb(239,250,254);" class="panel-body">
			 	{% elif task.priority == 0 %}
				<div style="background-color: rgb(219,231,253);" class="panel-body">
			 	{% elif task.priority == 1 %}
				<div style="background-color:#9F84ED;" class="panel-body">
			 	{% else %}
				<div class="panel-body">
				{% endif %}
					<span style="float:left;" class="fa-lg">
					{% if task.task_type == 'subscription'%} 
						<i style="margin-top:25%;" class="fa fa-user"></i></span>
						<ul style="list-style-type:none;">
							<li>{{ task }}</li><br />
							<li>{{ task.made_on }}
							<div class="btn-group set-priority">
								<span class="fa fa-lg fa-gear dropdown-toggle" data-toggle="dropdown" area-expanded="false" ></span>
								<span class="sr-only">Toggle Priority</span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li role="presentation" class="dropdown-header">Task Priority Level</li>
									<li role="presentation" ><a class="menuitem" href="{% url 'set_task_priority' task.task_id 1 %}">High Priority</a></li>
									<li role="presentation" ><a class="menuitem" href="{% url 'set_task_priority' task.task_id 0 %}">Medium Priority</a></li>
									<li role="presentation" ><a class="menuitem" href="{% url 'set_task_priority' task.task_id -1 %}">Low Priority</a></li>
								</ul>
							</div>			
								<div style="float:right;" class="btn-group btn-group-sm" role="group">
									<a href="{% url 'handle_sub_task' task.list_id task.task_id 'accept' %}" class="btn btn-default">{% trans 'Accept' %}</a>
									<a href="{% url 'handle_sub_task' task.list_id task.task_id 'reject' %}" class="btn btn-default">{% trans 'Reject' %}</a>
			                			        <a href="{% url 'handle_sub_task' task.list_id task.task_id 'discard' %}" class="btn btn-default">{% trans 'Discard' %}</a>
								</div>
							</li>
						<ul>
					{% else %} 
						<i style="margin-top:25%;" class="fa fa-envelope-o "></i></span>
						<ul style="list-style-type:none;">
							<li>{{ task }}</li><br />
							<li>{{task.made_on}}&nbsp;&nbsp;
							<div class="btn-group set-priority">
								<span class="fa fa-lg fa-gear dropdown-toggle" data-toggle="dropdown" area-expanded="false" ></span>
								<span class="sr-only">Toggle Priority</span>
								<ul class="dropdown-menu" role="menu">
									<li role="presentation" class="dropdown-header">Set Priority Level</li>
									<li role="presentation" ><a class="menuitem" href="{% url 'set_task_priority' task.task_id 1 %}">High Priority</a></li>
									<li role="presentation" ><a class="menuitem" href="{% url 'set_task_priority' task.task_id 0 %}">Medium Priority</a></li>
									<li role="presentation" ><a class="menuitem" href="{% url 'set_task_priority' task.task_id -1 %}">Low Priority</a></li>
								</ul>
							</div>			
							<div style="float:right;"class="btn-group btn-group-sm" role="group" >
								<a href="{% url 'handle_mod_task' task.list_id task.task_id 'accept'%}" class="btn btn-default">{% trans 'Accept' %}</a>
								<a href="{% url 'handle_mod_task' task.list_id task.task_id 'defer' %}" class="btn btn-default">{% trans 'Defer' %}</a>
								<a href="{% url 'handle_mod_task' task.list_id task.task_id 'reject' %}" class="btn btn-default">{% trans 'Reject' %}</a>
								<a href="{% url 'handle_mod_task' task.list_id task.task_id 'discard' %}" class="btn btn-default">{% trans 'Discard' %}</a>
							</div>
							</li>
						</ul>
					{% endif %}
				</div>
			</div>
			{% endfor %}
		</div>
	</div><!-- Task container -->
	
	<div id="list-container">	
		<ul id="parent-per-list" class="parent-list-nav nav nav-pills nav-justified">
	 		<li id="both" class="parent-active"><a href="#">Both</a></li>
			<li id="modr"><a href="#">Moderations</a></li>
			<li id="subr"><a href="#">Subscriptions</a></li>
		</ul>	
		<div class="well" id="list-view">
			{% regroup tasks|dictsort:"list_id" by list_id as listed_tasks %}
			{%for listed_object in listed_tasks %}
				<div class="panel panel-default">
					<div class="panel-body panel_lists">
						{{ listed_object.grouper|capfirst }}
						<span style="background-color:#1976D2;float:right;" class="both-badge per-list-badge badge">{{listed_object.list|length}}</span>
						<span style="background-color:#1976D2;float:right;display:none;" class=" mod-badge per-list-badge badge">
							{% for each in lists%}{% if each.list_id == listed_object.grouper %}
							{{each.held|length}}
						</span>
						<span style="background-color:#1976D2;float:right;display:none;" class="sub-badge per-list-badge badge">
							{{each.requests|length}}{% endif %}{% endfor %}
						</span>
					</div>	
					<div id="per-list-container-{{listed_object.grouper}}" class="dialog container" style="z-index:1;display:none;">
						<ul id="perlist-switcher-{{listed_object.grouper}}" class="nav nav-pills nav-justified per-list-nav">
							<li id="list-mod" class="active"><a href="#">Moderations</a></li>
							<li id="list-sub"><a href="#">Subscriptions</a></li>
						</ul>
						<table id="list-moderations" class="table table-hover"> <thead></thead>
							<tbody>
							{% for each in listed_object.list%}{% if each.task_type == 'moderation' %}
			 				{% if each.priority == -1 %}
							<tr bgcolor="#EFFAFE">
						 	{% elif each.priority == 0 %}
							<tr bgcolor="#DBE7FD">
						 	{% elif each.priority == 1 %}
							<tr bgcolor="#9F84ED">
						 	{% else %}
							<tr>
							{% endif %}
							<td>
								<span style="float:left">{{each.user_email|capfirst}}</span>
								<div style="float:right;"class="btn-group btn-group-sm" role="group" >
									<a href="{% url 'handle_mod_task' listed_object.grouper each.task_id 'accept'%}" class="btn btn-default">{% trans 'Accept' %}</a>
									<a href="{% url 'handle_mod_task' listed_object.grouper each.task_id 'defer' %}" class="btn btn-default">{% trans 'Defer' %}</a>
									<a href="{% url 'handle_mod_task' listed_object.grouper each.task_id 'reject' %}" class="btn btn-default">{% trans 'Reject' %}</a>
									<a href="{% url 'handle_mod_task' listed_object.grouper each.task_id 'discard' %}" class="btn btn-default">{% trans 'Discard' %}</a>
								</div>
							</td>
							</tr>
							{% endif %}{% endfor %}
							</tbody>
						</table>
						<table id="list-subscriptions" style="display:none;" class="table table-hover"> <thead></thead>
							<tbody>	
							{% for each in listed_object.list%}{% if each.task_type == 'subscription' %}
			 				{% if each.priority == -1 %}
								<tr bgcolor="#EFFAFE">
						 	{% elif each.priority == 0 %}
								<tr bgcolor="#DBE7FD">
						 	{% elif each.priority == 1 %}
								<tr bgcolor="#9F84ED">
						 	{% else %}
								<tr>
							{% endif %}
							<td>
								<span style="float:left">{{each.user_email|capfirst}}</span>
								<div style="float:right;" class="btn-group btn-group-sm" role="group">
									<a href="{% url 'handle_sub_task' listed_object.grouper each.task_id 'accept' %}" class="btn btn-default">{% trans 'Accept' %}</a>
									<a href="{% url 'handle_sub_task' listed_object.grouper each.task_id 'reject' %}" class="btn btn-default">{% trans 'Reject' %}</a>
			                			        <a href="{% url 'handle_sub_task' listed_object.grouper each.task_id 'discard' %}" class="btn btn-default">{% trans 'Discard' %}</a>
								</div>
							</td>
							</tr>
							{% endif %}{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			{% endfor %}
		</div>
	</div><!-- list container -->
	<div class="col-xs-4" style="width:100%;height:3.2em;padding-top:1em;"><span >Reorder</span>
		<div style="float:right;" class="btn-group">
			<span class="fa fa-lg fa-bars dropdown-toggle" data-toggle="dropdown" area-expanded="false" ></span>
			<span class="sr-only">Reorder Tasks</span>
			<ul class="dropdown-menu" role="menu">
				<li role="presentation" class="dropdown-header">Reorder By</li>
				<li role="presentation" ><a class="menuitem" href="{% url 'reorder_tasks_by' 'priority' %}">Priority</a></li>
				<li role="presentation" ><a class="menuitem" href="{% url 'reorder_tasks_by' 'task_type' %}">Task Type</a></li>
				<li role="presentation" ><a class="menuitem" href="{% url 'reorder_tasks_by' 'made_on' %}">Date Added</a></li>
			</ul>
		</div>			
	</div>


</div>

<div style="width:28%;float:right;display:inline-block;margin-top:8%; border:1px solid;margin-right:3%;" class="widget container">
	<table class="table table-striped">
		<div style="text-align:center;" colspan="2">
			<h3 style="display:inline-block;">List Index</h3>
			<div style="margin-top:3%;float:right;width:40%;margin-right:5%;" class="input-group">
	             		<span class="input-group-btn"><button class="btn btn-default fa fa-search" type="button"></button></span>
				<input type="text" placeholder="Search" class="form-control" id="index-search"/>
			</div>
		</div>
	<thead></thead>
	<tbody>
		{% for list in lists %}
		<tr>
			<td>{{list.display_name}}</td>
			<td style="text-align:center;">
				<div class="btn-group btn-group-sm" role="group">
					<a href="{% url 'list_summary' list.list_id %}" class="btn btn-default">{% trans 'Actions' %}</a>
					<a href="{% url 'list_settings' list.list_id %}" class="btn btn-default">{% trans 'Configure' %}</a>
				</div>
			</td>
		<tr>
		{% endfor %}
	</tbody>
	</table>
</div>




<script>
$("#switcher a").on("click", function(){
	$(".nav").find(".active").removeClass("active");
	$(this).parent().addClass("active");
	var id = $(".nav").find(".active").children().attr("id");
	if (id == 'list-view'){
		$("#task-container").hide("fast");
		$("#list-container").show("fast");
	}
	else if (id == 'task-view'){
		$("#list-container").hide("fast");
		$("#task-container").show("fast");
	}
});
$("#parent-per-list a").on("click", function(){
	$(".parent-list-nav").find(".parent-active").removeClass("parent-active");
	$(this).parent().addClass("parent-active");
	var mod_badges = $(".mod-badge");
	var sub_badges = $(".sub-badge");
	var both_badges = $(".both-badge");

	$(".panel_lists").hide();
	var badge_id = $("#parent-per-list").find(".parent-active").attr("id");
	if (badge_id == 'both'){
	mod_badges.each(function(){$(this).hide();});
	sub_badges.each(function(){$(this).hide();});
	both_badges.each(function(){$(this).show();});
	}
	else if (badge_id == 'modr'){
	mod_badges.each(function(){$(this).show();});
	sub_badges.each(function(){$(this).hide();});
	both_badges.each(function(){$(this).hide();});

	}
	if (badge_id == 'subr'){
	mod_badges.each(function(){$(this).hide();});
	sub_badges.each(function(){$(this).show();});
	both_badges.each(function(){$(this).hide();});
	}
	$(".panel_lists").fadeIn();
});
$(".per-list-nav a").on("click", function(){
	var parent_ul = $(this).parents('ul.per-list-nav').children('.active').removeClass("active");
	$(this).parents('li').addClass("active");
	var id = $(this).parents('ul.per-list-nav').children('.active').attr("id");
	var par = $(this).parents('.dialog');
	if (id == 'list-mod'){
		$(par).children('#list-subscriptions').hide("fast");
		$(par).children('#list-moderations').show("fast");
	}
	else if (id == 'list-sub'){
		$(par).children('#list-subscriptions').show("fast");
		$(par).children('#list-moderations').hide("fast");
	}
});
$(".panel_lists").on("click", function(){
	var d_id = $(this).parent().children('.dialog').attr("id")
	var all_boxes = $('.dialog');
	the_box = $.grep(all_boxes, function(e){ return e.id==d_id})[0];
	if ($(this).hasClass('active')){
    		$(the_box).fadeOut(200);
        	$(this).removeClass('active');
	  } else {
	  var id = $("#parent-per-list").find(".parent-active").attr("id");
	  if (id == 'modr'){
	  $(the_box).find(".per-list-nav").hide();
	  $(the_box).find("#list-subscriptions").hide();
	  $(the_box).find("#list-moderations").show();
	  }
	  else if (id == 'subr'){

	  $(the_box).find(".per-list-nav").hide();
	  $(the_box).find("#list-subscriptions").show();
	  $(the_box).find("#list-moderations").hide();
	  }
	  else {
	  $(the_box).find(".per-list-nav").show();
	  $(the_box).find("#list-subscriptions").hide();
	  $(the_box).find("#list-moderations").show();
	  
	  }
	      	$(the_box).fadeIn(200);
	  	$(the_box).css({"display":"block","top":$(this).parent().position().top + $(this).parent().height(),"right":$(this).parent().width()/1.3})
	          $(this).addClass('active');
		 }
}		
		
		
		
		
		
		);
</script>
{# endblock main #}
